<div style="text-align: center">
  <h1>Assigment 15</h1>
  <br>

  <!--
  <font face="Comic Sans MS">Enter the String : </font><input type="text" ><br>
  -->

  <font face="Comic Sans MS">
      String = ‘Marvellous’
      <br>
    Reverse String is :: {{"suollevraM" | myRev}}
  </font>

  <br>
  <br>

  <font face="Comic Sans MS">Addition of 8 + 3 :</font>              {{8 | myAdd : 3}}

  <br><br>
  <font face="Comic Sans MS">Number 1 : </font>    <input type="text" [(ngModel)] = "no1">
  <br>
  <font face="Comic Sans MS">Number 2 : </font>    <input type="text" [(ngModel)] = "no2">
  <br>
  <font face="Comic Sans MS">Multiplication is : </font>      {{no1 | myMult : no2}}

  <br><br>
  <font face="Comic Sans MS">Enter Number  : </font>    <input type="text" [(ngModel)] = "num">
  <br>


  <h3>Number  :: {{num}}</h3>
  
  <font face="Comic Sans MS"> {{num | numCheck : "even"}} </font>
  <br>
  <font face="Comic Sans MS"> {{num | numCheck : "prime"}} </font>
  <br>
  <font face="Comic Sans MS"> {{num | numCheck : "perfect"}} </font>
  <br>


</div>